@use "mixIns";
@use "colors";
@use "fonts";
@use "functions";
@use "border";
@use "gaps";

$overflow_hidden: hidden;

body {
  @include mixIns.create_contents_container(100%, 100%);
}
// * .first_section
.first_section {
  @include mixIns.flex_basic_layout(column);
  @include mixIns.create_contents_container(100vw, 100vh);
  background-color: colors.$color-black-bg;
  gap: gaps.$gap60;

  // * .main_logo_container
  .main_logo_container {
    @include mixIns.flex_basic_layout();
    @include mixIns.create_contents_container(100vw, 20vh);
    background-color: colors.$color-blue-bg;

    .main_logo_second_container {
      @include mixIns.flex_basic_layout();
      @include mixIns.create_contents_container(50%, 100%);
      background-color: colors.$color-pink-bg;

      .main_logo {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(50%, 100%);

        img:first-child {
          @include mixIns.create_contents_container(100%, 100%);
        }
      }
    }
  }

  .first_section_contents_wrapper {
    @include mixIns.flex_basic_layout(column);
    @include mixIns.create_contents_container(100vw, 60vh);
    background-color: colors.$color-red-bg;

    .contents_container {
      @include mixIns.flex_basic_layout(column);
      @include mixIns.create_contents_container(100%, 90%);
      background-color: colors.$color-white-bg;

      .tab_container {
        @include mixIns.flex_basic_layout(row, start, end);
        @include mixIns.create_contents_container(80%, 10%);
        background-color: colors.$color-pink-bg;

        .first_tab {
          overflow: $overflow_hidden;
          box-sizing: border-box;
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(10%, 90%);
          background-color: colors.$color-aqua-bg;

          div:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(90%, 90%);
          }
        }

        .second_tab {
          overflow: $overflow_hidden;
          box-sizing: border-box;
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(10%, 90%);
          background-color: colors.$color-white-bg;

          div:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(90%, 90%);
          }
        }

        .third_tab {
          overflow: $overflow_hidden;
          box-sizing: border-box;
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(10%, 90%);
          background-color: colors.$color-light-gray-bg;

          div:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(90%, 90%);
          }
        }
      }

      .stack_container {
        @include mixIns.grid_column_layout(repeat(3, 1fr));
        @include mixIns.create_contents_container(80%, 80%);
        background-color: colors.$color-black-bg;

        .first_stack {
          @include mixIns.create_contents_container(80%, 80%);
          // background-color: colors.$color-light-gray-bg;

          picture:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(100%, 100%);

            img:first-child {
              @include mixIns.create_contents_container(100%, 100%);
            }
          }
        }

        .second_stack {
          @include mixIns.create_contents_container(80%, 80%);
          // background-color: colors.$color-light-gray-bg;

          picture:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(100%, 100%);

            img:first-child {
              @include mixIns.create_contents_container(100%, 100%);
            }
          }
        }

        .third_stack {
          @include mixIns.create_contents_container(80%, 80%);
          // background-color: colors.$color-light-gray-bg;

          picture:first-child {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(100%, 100%);

            img:first-child {
              @include mixIns.create_contents_container(100%, 100%);
            }
          }
        }
      }
    }
  }
}
