$color-black-bg: black;
$color-light-gray-bg: rgb(165, 165, 165);
$color-red-bg: red;
$color-white-bg: white;
$color-blue-bg: blue;

$color-black-font: black;
$color-light-gray-font: rgb(165, 165, 165);
$color-red-font: red;
$color-white-font: white;
$color-blue-font: blue;
